.zy-article-card {
  --card-height: 7rem;
  --image-size: 4rem;
  height: var(--card-height);
  vertical-align: middle;
  transition: transform 100ms;
  overflow: hidden;
  .zy-article-card-inner {
    height: var(--card-height);
    position: relative;
    .zy-card-title {
      transition: opacity 400ms, color 0s;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: calc(100% - var(--image-size) - 1rem);
      padding: 1rem;
      padding-bottom: 1rem;
    }
    .zy-card-image {
      transition: all cubic-bezier(0.63, 0, 0.32, 1) 400ms;
      position: absolute;
      left: 0;
      height: 100%;
      overflow: hidden;
      padding: 1rem;
      * {
        width: var(--image-size);
        height: var(--image-size);
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
}
@media (orientation: landscape) {
  .pc .zy-article-card {

  }
  .pc .zy-article-card:hover {
    transform: scale(0.95);
  }
  .pc .zy-article-card.transition-prepare:hover {
    transform: scale(0.85);
    box-shadow: none;
  }
}

.zy-article-card.transition-prepare {
  transform: scale(0.9);
}

@media (min-width: 600px) or (orientation: landscape) {
  .zy-article-card {
    --card-height: 17rem;
    .zy-article-card-inner {
      .zy-card-title {
        width: 100%;
        top: auto;
        bottom: 0;
        padding-bottom: 1.5rem;
        background: var(--bg-best-card);
      }
      .zy-card-image {
        width: 100%;
        left: 0;
        padding: 0;
        * {
          width: 100%;
          height: 10rem;
          border-radius: 0.75rem 0.75rem 0 0;
        }
      }
    }
  }
}

.zy-article-card.transition-in {
  --image-height: 20rem;
  padding-right: var(--tool-bar-width);
  padding-left: 0;
  padding-top: 0;
  height: auto;
  transform: none;
  box-shadow: none;
  transition: all cubic-bezier(0.63, 0, 0.32, 1) 600ms, background 0s,
    box-shadow 0s;
  .zy-article-card-inner {
    height: calc(var(--pt-main) + 1.5rem + var(--image-height));
    .zy-card-title {
      display: none;
    }
    .zy-card-image {
      top: calc(var(--pt-main) + 1.5rem);
      left: 1.5rem;
      right: 1.5rem;
      width: calc(100% - 1.5rem * 2);
      height: var(--image-height);
      padding: 0;
      * {
        width: 100%;
        height: var(--image-height);
        border-radius: 0.75rem;
      }
    }
  }
}

.pc .zy-article-card.transition-in:hover {
  transform: none;
  box-shadow: none;
}

.layout-default.transition .main-view-inner {
  transition: all 600ms, background 0s;
  opacity: 0;
  transform: scale(0.8);
  overflow: hidden;
}
