@import url("./pageTransition/pageTransition.scss");
@import url("./headerBar/headerBar.scss");
@import url("./footerBar/footerBar.scss");
@import url("./footerColumns/footerColumns.scss");
@import url("./articleCard/articleCard.scss");
@import url("./music/music.scss");
@import url("./toolBar/toolBar.scss");

@keyframes an-fade-in-from-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes an-fade-in-from-down {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes an-fade-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.zy-header-inner {
  .header-title {
    animation: an-fade-in-from-left 400ms;
  }
}
