#oml-stage {
  left: auto !important;
  right: -3%;
  bottom: 0 !important;
  z-index: 40 !important;
}
#oml-controls,
#oml-levitated-btn {
  display: none !important;
}
#oml-tips {
  font-size: 0.8rem !important;
  line-height: 1.5;
  width: auto !important;
  min-width: 12rem;
  height: auto !important;
  top: 0 !important;
  background-color: var(--bg-4) !important;
  color: var(--text-1) !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
  filter: none !important;
  border: 1px solid var(--border-color) !important;
  padding: 0.5rem !important;
}

/* 手机布局 */
:root.vertical {
  #oml-stage,
  #oml-tips {
    visibility: hidden !important;
  }
}
/* 最小宽度 */
@media (max-width: 1000px) {
  #oml-stage,
  #oml-tips {
    visibility: hidden !important;
  }
}
/* 最小高度 */
@media (max-height: 700px) {
  #oml-stage,
  #oml-tips {
    visibility: hidden !important;
  }
}
