html,
body {
  @apply: h-full m-0 p-0;
}
* {
  @apply: box-border;
}
// 字体
body {
  font-size: 12px;
  line-height: 1.5;
  // font-family: "PingFang SC", "DFPKingGothicGB-medium", "HarmonyOS Sans SC",
  //   "HarmonyOS_Regular", "Noto Sans SC Regular", "Helvetica Neue", Helvetica,
  //   Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC",
  //   "WenQuanYi Micro Hei", sans-serif;
  color: var(--text-color);
}
// 禁用高亮
* {
  -webkit-tap-highlight-color: transparent;
}
// 禁止选择
* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root.dark {
  background-color: #000;
}
:root {
  --header-bar-height: 2.5rem;
  --footer-bar-height: 2.5rem;
  --side-bar-width: 25%;
}
@media (orientation: portrait) {
  :root {
    --side-bar-width: unset;
  }
}
@media (orientation: landscape) {
  :root {
    --header-bar-height: 3.5rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --side-bar-width: 15rem;
  }
}
:root {
  --primary-7: #454de3; //点击
  --primary-6: #6269e7; //常规
  --primary-5: #7f85eb; //悬浮
  --primary-4: #9da1ef; //特殊场景
  --primary-3: #babcf3; //一般禁用
  --primary-2: #d7d8f7; //文字禁用
  --primary-1: #f4f4fb; //浅色/白底悬浮
}
:root {
  --bg-best: #ffffff; //最白
  --bg-1: #f4f6f8; //整体背景色
  --bg-2: #fafbfc; //一级容器背景
  --bg-3: #fafbfc; //二级容器背景
  --bg-4: #ffffff; //三级容器背景
  --bg-5: #ffffff; //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(244, 246, 248, 0.5); //遮罩层
  --text-1: #1d2129; //强调/正文标题
  --text-2: #4f5969; //次强调/正文标
  --text-3: #87909c; //次要信息
  --text-4: #c9cdd4; //置灰信息
}
*.dark {
  --bg-best: #000000; //最黑
  --bg-1: #0f0e2a; //整体背景色
  --bg-2: #13122e; //一级容器背景
  --bg-3: #181732; //二级容器背景
  --bg-4: #1c1b36; //三级容器背景
  --bg-5: #1c1b36; //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(15, 14, 42, 0.5); //遮罩层
  --text-1: #f6f6f6; //强调/正文标题
  --text-2: #c5c5c5; //次强调/正文标
  --text-3: #929293; //次要信息
  --text-4: #5f5f60; //置灰信息
}
