html,
body {
  @apply: h-full m-0 p-0;
}
* {
  @apply: box-border;
}
// 字体
body {
  line-height: 1.2;
  font-family: sans-serif;
  color: var(--text-color);
}
// 禁用高亮
* {
  -webkit-tap-highlight-color: transparent;
}
// 禁止选择
* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root.dark {
  background-color: #000;
}
:root {
  --footer-bar-height: 3rem;
  --side-bar-width: 7.5rem;
}
@media (orientation: portrait) {
  :root {
    --header-bar-height: 3rem;
    --centered-width: 100%;
    --header-bar-background: var(--bg-1);
  }
}
@media (orientation: landscape) {
  :root {
    --header-bar-height: 3.5rem;
    --centered-width: 65rem;
    --header-bar-background: var(--bg-1);
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  :root {
    --header-bar-height: 5rem;
    --centered-width: 75rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --side-bar-width: 15rem;
  }
}

//公共颜色变量
:root {
  --gray-color-1: #fff;
  --gray-color-2: #fcfafb;
  --gray-color-3: #f0f3f9;
  --gray-color-4: #dde0e8;
  --gray-color-5: #cbcdd7;
  --gray-color-6: #b8bac6;
  --gray-color-7: #a5a7b5;
  --gray-color-8: #9294a4;
  --gray-color-9: #808293;
  --gray-color-10: #6d6f82;
  --gray-color-11: #5a5c71;
  --gray-color-12: #474960;
  --gray-color-13: #31324b;
  --gray-color-14: #1f1f3a;
  --gray-color-15: #0f102d;
  --gray-color-16: #060716;
  --gray-color-17: #000;
}

:root {
  --primary-7: #686dfc; //点击
  --primary-6: #7375fc; //常规
  --primary-5: #8386fd; //悬浮
  --primary-4: #9395ff; //特殊场景
  --primary-3: #a4a7ff; //一般禁用
  --primary-2: #bbbdfd; //文字禁用
  --primary-1: #cfd1ff; //浅色/白底悬浮
}
:root {
  --bg-best: var(--gray-color-1); //最白
  --bg-1: var(--gray-color-1); //整体背景色
  --bg-2: var(--gray-color-3); //一级容器背景
  --bg-3: var(--gray-color-3); //二级容器背景
  --bg-4: var(--gray-color-3); //三级容器背景
  --bg-5: var(--gray-color-1); //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(255, 255, 255, 0.5); //遮罩层
  --text-1: var(--gray-color-15); //强调/正文标题
  --text-2: var(--gray-color-13); //次强调/正文标
  --text-3: var(--gray-color-11); //次要信息
  --text-4: var(--gray-color-9); //置灰信息
}
*.dark {
  --bg-best: var(--gray-color-15); //最黑
  --bg-1: var(--gray-color-15); //整体背景色
  --bg-2: var(--gray-color-14); //一级容器背景
  --bg-3: var(--gray-color-14); //二级容器背景
  --bg-4: var(--gray-color-14); //三级容器背景
  --bg-5: var(--gray-color-14); //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(15, 16, 45, 0.5); //遮罩层
  --text-1: var(--gray-color-3); //强调/正文标题
  --text-2: var(--gray-color-5); //次强调/正文标
  --text-3: var(--gray-color-7); //次要信息
  --text-4: var(--gray-color-9); //置灰信息
}

// 滚动条

@media (pointer: fine) {
  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 0.6em; /* 设置滚动条的宽度 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccd5e1; /* 设置滑块的颜色 */
    border-radius: 100px; /* 设置滑块的边角半径 */
  }

  *.dark ::-webkit-scrollbar-thumb {
    background-color: #344155; /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #95a3b7; /* 设置滑块的颜色 */
  }

  *.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #485569; /* 设置滑块的颜色 */
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; /* 设置滚动条的背景颜色 */
  }
}
