@keyframes an-tool-bar-fade-in {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
#zy-tool-bar {
  #zy-tool-bar-innner {
    animation: an-tool-bar-fade-in 400ms;
    transition:
      transform 400ms,
      background 0ms,
      opacity 400ms;
  }
}
#zy-tool-bar.transition-translate-out {
  #zy-tool-bar-innner {
    opacity: 0;
  }
}
