/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  --progress-color: var(--text-1);
}

#nprogress .bar {
  background: var(--progress-color);
  position: fixed;
  z-index: 0;
  top: var(--header-bar-height);
  left: 0;
  width: 100%;
  height: 0.2rem;
  .peg {
    display: none;
  }
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--progress-color), 0 0 5px var(--progress-color);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

@media (orientation: landscape) {
  /* 横屏 */
  #nprogress .spinner {
    position: fixed;
    z-index: 1031;
    inset: 0;
    top: 0;
    padding-top: 0.75rem;
    padding-left: 11rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (orientation: portrait) {
  /* 竖屏 */
  #nprogress .spinner {
    position: fixed;
    z-index: 1031;
    inset: 0;
    top: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border: solid 0.2rem transparent;
  border-top-color: var(--progress-color);
  border-left-color: var(--progress-color);
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
