@import url("../fonts/DFPKingGothicGB.css");
@import url("../fonts/HarmonyOS.css");
// 字体
:root.pc {
  font-family: "PingFang SC", "DFPKingGothicGB-medium", "HarmonyOS Sans SC",
    "HarmonyOS_Regular", "Noto Sans SC Regular", "Helvetica Neue", Helvetica,
    Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC",
    "WenQuanYi Micro Hei", sans-serif;
}
:root.mobile {
  font-family: sans-serif;
}
body {
  line-height: 1.2;
  font-family: inherit !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.6px;
}

// 禁用高亮
* {
  -webkit-tap-highlight-color: transparent;
}
// 禁止选择
// * {
//   -webkit-user-select: none; /* Safari */
//   -moz-user-select: none; /* Firefox */
//   -ms-user-select: none; /* IE 10+ */
//   user-select: none;
// }

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-6);
  text-decoration: none;
}

:root {
  --footer-bar-height: 3.5rem;
  --side-bar-width: 5rem;
  --tool-bar-width: 20rem;
  --border-color: rgba(127, 127, 127, 0.2);
  --tabs-bar-height: 4rem;
  --music-bar-height: 5rem;
}
@media (orientation: portrait) {
  :root {
    --header-bar-height: 3.5rem;
    --centered-width: 100%;
    --side-bar-width: 0rem;
    --tool-bar-width: 0rem;
    --music-bar-height: 4rem;
  }
}
@media (orientation: landscape) {
  :root {
    --header-bar-height: 4rem;
    --centered-width: 65rem;
    --footer-bar-height: 0rem;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  :root {
    --centered-width: 75rem;
  }
}

//公共颜色变量
:root {
  --theme-color: #1ecc94;
  --primary-7: var(--red-7); //点击
  --primary-6: var(--red-6); //常规
  --primary-5: var(--red-5); //悬浮
  --primary-4: var(--red-4); //特殊场景
  --primary-3: var(--red-3); //一般禁用
  --primary-2: var(--red-2); //文字禁用
  --primary-1: var(--red-1); //浅色/白底悬浮
}
*.dark {
  --theme-color: #00dc82;
}

:root {
  --purple-7: #5d00ff; //点击
  --purple-6: #7425ff; //常规
  --purple-5: #8b49ff; //悬浮
  --purple-4: #a36eff; //特殊场景
  --purple-3: #ba92ff; //一般禁用
  --purple-2: #d1b6ff; //文字禁用
  --purple-1: #e8dbff; //浅色/白底悬浮
}
:root {
  --blue-7: #0e42d2; //点击
  --blue-6: #165dff; //常规
  --blue-5: #4080ff; //悬浮
  --blue-4: #6aa1ff; //特殊场景
  --blue-3: #94bfff; //一般禁用
  --blue-2: #bedaff; //文字禁用
  --blue-1: #e8f3ff; //浅色/白底悬浮
}
:root {
  --green-7: #009a29; //点击
  --green-6: #00b42a; //常规
  --green-5: #23c343; //悬浮
  --green-4: #4cd263; //特殊场景
  --green-3: #7be188; //一般禁用
  --green-2: #aff0b5; //文字禁用
  --green-1: #e8ffea; //浅色/白底悬浮
}
:root {
  --red-7: #ff0033; //点击
  --red-6: #ff204c; //常规
  --red-5: #ff3f66; //悬浮
  --red-4: #ff5f7f; //特殊场景
  --red-3: #fe7f98; //一般禁用
  --red-2: #fe9eb2; //文字禁用
  --red-1: #febecb; //浅色/白底悬浮
}
:root {
  --cyan-7: #0da5aa; //点击
  --cyan-6: #14c9c9; //常规
  --cyan-5: #37d4cf; //悬浮
  --cyan-4: #5edfd6; //特殊场景
  --cyan-3: #89e9e0; //一般禁用
  --cyan-2: #b7f4ec; //文字禁用
  --cyan-1: #e8fffb; //浅色/白底悬浮
}
:root {
  --orange-7: #d25f00; //点击
  --orange-6: #ff7d00; //常规
  --orange-5: #ff9a2e; //悬浮
  --orange-4: #ffb65d; //特殊场景
  --orange-3: #ffcf8b; //一般禁用
  --orange-2: #ffe4ba; //文字禁用
  --orange-1: #fff7e8; //浅色/白底悬浮
}
:root {
  --magenta-7: #cb1e83; //点击
  --magenta-6: #f5319d; //常规
  --magenta-5: #f754a8; //悬浮
  --magenta-4: #f979b7; //特殊场景
  --magenta-3: #fb9dc7; //一般禁用
  --magenta-2: #fdc2db; //文字禁用
  --magenta-1: #ffe8f1; //浅色/白底悬浮
}
:root {
  --bg-card: rgba(255, 255, 255, 0.4); //卡片
  --bg-panel: rgba(255, 255, 255, 0.6); //面板
  --bg-mask: rgba(221, 225, 233, 0.5); //遮罩层
  --bg-header-bar: rgba(234, 236, 241, 0.7); //顶栏
  --text-1: rgba(0, 0, 0, 8); //强调/正文标题
  --text-2: rgba(0, 0, 0, 0.6); //次强调/正文标
  --text-3: rgba(0, 0, 0, 0.4); //次要信息
  --text-4: rgba(0, 0, 0, 0.2); //置灰信息
}
*.dark {
  --bg-card: rgba(50, 51, 69, 0.3); //卡片
  --bg-panel: rgba(15, 16, 46, 0.6); //面板
  --bg-mask: rgba(1, 8, 24, 0.5); //遮罩层
  --bg-header-bar: rgba(13, 13, 38, 0.7); //顶栏
  --text-1: rgba(255, 255, 255, 0.8); //强调/正文标题
  --text-2: rgba(255, 255, 255, 0.6); //次强调/正文标
  --text-3: rgba(255, 255, 255, 0.4); //次要信息
  --text-4: rgba(255, 255, 255, 0.2); //置灰信息
}

//背景色
:root {
  background: #eaecf1;
  // background: url('@/assets/image/bg4.png');
  color: var(--text-1);
}
:root.dark {
  background: #0d0d26;
}
@media (orientation: portrait) {
  /* 竖屏 */
  :root {
    background: #eff2f5;
    --bg-header-bar: rgba(255, 255, 255, 0.9); //顶栏
    --bg-card: rgba(255, 255, 255, 0.7); //卡片
  }
  :root.dark {
    background: #0d0d26;
    --bg-header-bar: rgba(13, 13, 38, 0.7); //顶栏
    --bg-card: rgba(31, 31, 54, 0.7); //卡片
  }

  .vertical-layout {
    display: block;
  }
}

// 显示隐藏
.vertical-layout {
  display: none;
}
.horizontal-layout {
  display: none;
}
@media (orientation: landscape) {
  .horizontal-layout {
    display: block;
  }
}
@media (orientation: portrait) {
  .vertical-layout {
    display: block;
  }
}

// 滚动条

@media (pointer: fine) {
  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 1rem; /* 设置滚动条的宽度 */
    height: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c9d1db; /* 设置滑块的颜色 */
    border-radius: 0px; /* 设置滑块的边角半径 */
  }

  *.dark ::-webkit-scrollbar-thumb {
    background-color: #344155; /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color); /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* 设置滚动条的背景颜色 */
  }
}

// 图片
*.dark {
  img {
    filter: brightness(0.8);
  }
}
