html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
// 字体
body {
  line-height: 1.2;
  font-family: sans-serif;
  color: var(--text-color);
}
// 禁用高亮
* {
  -webkit-tap-highlight-color: transparent;
}
// 禁止选择
* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-6);
  text-decoration: none;
}

:root {
  --footer-bar-height: 3rem;
  --side-bar-width: 13rem;
  --border-color: rgba(127, 127, 127, 0.2);
}
@media (max-width: 1200px) {
  :root {
    --side-bar-width: 4.75rem;
  }
}
@media (orientation: portrait) {
  :root {
    --header-bar-height: 3rem;
    --centered-width: 100%;
    --header-bar-background: var(--bg-1);
    --side-bar-width: 0rem;
  }
}
@media (orientation: landscape) {
  :root {
    --header-bar-height: 3.5rem;
    --centered-width: 65rem;
    --header-bar-background: var(--bg-1);
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  :root {
    --header-bar-height: 5rem;
    --centered-width: 75rem;
  }
}

//公共颜色变量
:root {
  --gray-color-1: #ffffff;
  --gray-color-2: #f8f9fc;
  --gray-color-3: #f0f3f9;
  --gray-color-4: #e5e8ee;
  --gray-color-5: #d9dde4;
  --gray-color-6: #ced1d9;
  --gray-color-7: #c2c6ce;
  --gray-color-8: #b7bbc3;
  --gray-color-9: #acb0b9;
  --gray-color-10: #a0a5ae;
  --gray-color-11: #9599a3;
  --gray-color-12: #8a8e99;
  --gray-color-13: #7e838e;
  --gray-color-14: #737883;
  --gray-color-15: #676d78;
  --gray-color-16: #5c626e;
  --gray-color-17: #515663;
  --gray-color-18: #454b58;
  --gray-color-19: #3a404e;
  --gray-color-20: #2f3543;
  --gray-color-21: #232a38;
  --gray-color-22: #181e2d;
  --gray-color-23: #0c1323;
  --gray-color-24: #010818;
}

:root {
  --primary-7: #0062ff; //点击
  --primary-6: #146fff; //常规
  --primary-5: #297bff; //悬浮
  --primary-4: #3d88ff; //特殊场景
  --primary-3: #5194ff; //一般禁用
  --primary-2: #66a1ff; //文字禁用
  --primary-1: #7aadff; //浅色/白底悬浮
}
:root {
  --bg-best: var(--gray-color-1); //最白
  --bg-0: var(--gray-color-4); //比背景色暗一级
  --bg-1: var(--gray-color-3); //整体背景色
  --bg-2: var(--gray-color-2); //一级容器背景
  --bg-3: var(--gray-color-1); //二级容器背景
  --bg-4: var(--gray-color-1); //三级容器背景
  --bg-5: var(--gray-color-3); //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(229, 232, 238, 0.5); //遮罩层
  --text-1: var(--gray-color-24); //强调/正文标题
  --text-2: var(--gray-color-20); //次强调/正文标
  --text-3: var(--gray-color-16); //次要信息
  --text-4: var(--gray-color-12); //置灰信息
}
*.dark {
  --bg-best: var(--gray-color-24); //最黑
  --bg-0: var(--gray-color-24); //比背景色暗一级
  --bg-1: var(--gray-color-23); //整体背景色
  --bg-2: var(--gray-color-22); //一级容器背景
  --bg-3: var(--gray-color-21); //二级容器背景
  --bg-4: var(--gray-color-21); //三级容器背景
  --bg-5: var(--gray-color-23); //下拉弹出框、Tooltip 背景颜色
  --bg-mask: rgba(1, 8, 24, 0.5); //遮罩层
  --text-1: var(--gray-color-1); //强调/正文标题
  --text-2: var(--gray-color-5); //次强调/正文标
  --text-3: var(--gray-color-9); //次要信息
  --text-4: var(--gray-color-13); //置灰信息
}

// 滚动条

@media (pointer: fine) {
  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 0.6em; /* 设置滚动条的宽度 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccd5e1; /* 设置滑块的颜色 */
    border-radius: 100px; /* 设置滑块的边角半径 */
  }

  *.dark ::-webkit-scrollbar-thumb {
    background-color: #344155; /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #95a3b7; /* 设置滑块的颜色 */
  }

  *.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #485569; /* 设置滑块的颜色 */
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; /* 设置滚动条的背景颜色 */
  }
}
