/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  --progress-color: var(--theme-color);
}

#nprogress .bar {
  background: var(--progress-color);
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0.3rem;
  .peg {
    display: none;
  }
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

@media (orientation: landscape) {
  /* 横屏 */
  #nprogress .spinner {
    display: none;
  }
}
@media (orientation: portrait) {
  /* 竖屏 */
  #nprogress .spinner {
    display: none;
  }
  #nprogress .bar {
    z-index: 40;
    top: calc(var(--header-bar-height) + var(--music-bar-height));
  }
}

#nprogress .spinner-icon {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: solid 0.2rem transparent;
  border-top-color: var(--progress-color);
  border-left-color: var(--progress-color);
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
