footer {
  transition: bottom 400ms, background 0ms;
}
footer.transition-translate-out {
  bottom: calc(0rem - var(--footer-bar-height));
}
.page-article-details footer {
  bottom: calc(0rem - var(--footer-bar-height));
}
