@media (orientation: landscape) {
  /* 横屏 */
  .first-layer-prev-enter-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-prev-leave-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-prev-enter-from {
    opacity: 0;
    transform: translateY(-50vh);
  }
  .first-layer-prev-leave-to {
    opacity: 0;
    transform: translateY(50vh);
  }
  .first-layer-next-enter-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-next-leave-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-next-enter-from {
    opacity: 0;
    transform: translateY(50vh);
  }
  .first-layer-next-leave-to {
    opacity: 0;
    transform: translateY(-50vh);
  }
}
@media (orientation: portrait) {
  /* 竖屏 */
  .first-layer-prev-enter-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-prev-leave-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-prev-enter-from {
    opacity: 0;
    transform: translateX(-50vw);
  }
  .first-layer-prev-leave-to {
    opacity: 0;
    transform: translateX(50vw);
  }
  .first-layer-next-enter-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-next-leave-active {
    transition: all ease-in-out 200ms;
  }
  .first-layer-next-enter-from {
    opacity: 0;
    transform: translateX(50vw);
  }
  .first-layer-next-leave-to {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

.second-layer-prev-enter-active {
  transition: all ease-in-out 200ms;
}
.second-layer-prev-leave-active {
  transition: all ease-in-out 200ms;
}
.second-layer-prev-enter-from {
  opacity: 0;
  transform: translateX(-50vw);
}
.second-layer-prev-leave-to {
  opacity: 0;
  transform: translateX(50vw);
}
.second-layer-next-enter-active {
  transition: all ease-in-out 200ms;
}
.second-layer-next-leave-active {
  transition: all ease-in-out 200ms;
}
.second-layer-next-enter-from {
  opacity: 0;
  transform: translateX(50vw);
}
.second-layer-next-leave-to {
  opacity: 0;
  transform: translateX(-50vw);
}
.third-layer-enter-active {
  transition: all 0s;
}
.third-layer-leave-active {
  transition: all 0.2s;
}
.third-layer-enter-from {
  opacity: 0;
}
@media (orientation: portrait) {
  .third-layer-leave-to {
    transform: translateX(calc(100vw - var(--side-bar-width)));
    opacity: 0;
  }
}
@media (orientation: landscape) {
  .third-layer-leave-to {
    transform: translateY(calc(100vh - var(--side-bar-width)));
    opacity: 0;
  }
}
