.first-layer-prev-enter-active {
  transition: all 0.2s;
}
.first-layer-prev-leave-active {
  transition: all 0.2s;
}
.first-layer-prev-enter-from {
  opacity: 0;
  transform: translateY(-50vh);
}
.first-layer-prev-leave-to {
  opacity: 0;
  transform: translateY(-50vh);
}
.first-layer-next-enter-active {
  transition: all 0.2s;
}
.first-layer-next-leave-active {
  transition: all 0.2s;
}
.first-layer-next-enter-from {
  opacity: 0;
  transform: translateY(50vh);
}
.first-layer-next-leave-to {
  opacity: 0;
  transform: translateY(50vh);
}
.second-layer-prev-enter-active {
  transition: all 0.2s;
}
.second-layer-prev-leave-active {
  transition: all 0.2s;
}
.second-layer-prev-enter-from {
  opacity: 0;
  transform: translateX(-50vw);
}
.second-layer-prev-leave-to {
  opacity: 0;
  transform: translateX(-50vw);
}
.second-layer-next-enter-active {
  transition: all 0.2s;
}
.second-layer-next-leave-active {
  transition: all 0.2s;
}
.second-layer-next-enter-from {
  opacity: 0;
  transform: translateX(50vw);
}
.second-layer-next-leave-to {
  opacity: 0;
  transform: translateX(50vw);
}
.third-layer-enter-active {
  transition: all 0s;
}
.third-layer-leave-active {
  transition: all 0.4s;
}
.third-layer-enter-from {
  opacity: 0;
}
.third-layer-leave-to {
  transform: translateX(calc(100vw - var(--side-bar-width)));
  opacity: 0;
}