.row-article {
  @apply grid grid-cols-12 portrait:gap-0 portrait:xs:gap-4 gap-4 xs:gap-4 sm:gap-4 md:gap-5 lg:gap-6;
}
.row-shuoshuo {
  @apply grid grid-cols-12 gap-0;
}
.row-album {
  @apply grid grid-cols-12 gap-2 xs:gap-3 sm:gap-4;
}
.row-photo {
  @apply grid grid-cols-12 gap-0;
}
.row-friend {
  @apply grid grid-cols-12 gap-2 xs:gap-3 sm:gap-4 items-stretch;
}
.row-video {
  @apply grid grid-cols-12 gap-2 xs:gap-3 sm:gap-4;
}

.clo-article-card {
  @apply portrait:col-span-12 landscape:col-span-12
          portrait:xs:col-span-12 landscape:xs:col-span-6
          portrait:sm:col-span-6 landscape:sm:col-span-6
          portrait:md:col-span-6 landscape:md:col-span-6
          portrait:lg:col-span-6 landscape:lg:col-span-6
          portrait:xl:col-span-6 landscape:xl:col-span-6;
}
.clo-shuoshuo-card {
  @apply col-span-12;
}
.clo-album-card {
  @apply portrait:col-span-4 landscape:col-span-4
          portrait:xs:col-span-4 landscape:xs:col-span-3
          portrait:sm:col-span-4 landscape:sm:col-span-2
          portrait:md:col-span-3 landscape:md:col-span-2
          portrait:lg:col-span-3 landscape:lg:col-span-2
          portrait:xl:col-span-2 landscape:xl:col-span-2;
}
.clo-photo-card {
  @apply portrait:col-span-3 landscape:col-span-3
          portrait:xs:col-span-3 landscape:xs:col-span-3
          portrait:sm:col-span-2 landscape:sm:col-span-2
          portrait:md:col-span-2 landscape:md:col-span-2
          portrait:lg:col-span-2 landscape:lg:col-span-2
          portrait:xl:col-span-2 landscape:xl:col-span-2;
}
.clo-friend-card {
  @apply portrait:col-span-12 landscape:col-span-4
          portrait:xs:col-span-12 landscape:xs:col-span-4
          portrait:sm:col-span-6 landscape:sm:col-span-3
          portrait:md:col-span-4 landscape:md:col-span-3
          portrait:lg:col-span-4 landscape:lg:col-span-3
          portrait:xl:col-span-3 landscape:xl:col-span-3;
}
.clo-video-card {
  @apply portrait:col-span-6 landscape:col-span-3
          portrait:xs:col-span-4 landscape:xs:col-span-3
          portrait:sm:col-span-3 landscape:sm:col-span-3
          portrait:md:col-span-3 landscape:md:col-span-3
          portrait:lg:col-span-2 landscape:lg:col-span-2;
}
