@import url("../fonts/DFPKingGothicGB.css");
@import url("../fonts/HarmonyOS.css");
@import url("../fonts/vivoTypeCNRegular.css");
// 字体
:root.pc {
  font-family: "PingFang SC", "DFPKingGothicGB-medium", "HarmonyOS Sans SC",
    "HarmonyOS_Regular", "Noto Sans SC Regular", "Helvetica Neue", Helvetica,
    Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC",
    "WenQuanYi Micro Hei", sans-serif;
}
:root.mobile {
  font-family: sans-serif;
}
body {
  line-height: 1.2;
  font-family: inherit !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.6px;
}

// 禁用高亮
* {
  -webkit-tap-highlight-color: transparent;
}
// 禁止选择
// * {
//   -webkit-user-select: none; /* Safari */
//   -moz-user-select: none; /* Firefox */
//   -ms-user-select: none; /* IE 10+ */
//   user-select: none;
// }

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-6);
  text-decoration: none;
}

@media (orientation: portrait) {
  :root {
    --header-bar-height: 4rem;
    --footer-bar-height: 3.5rem;
    --centered-width: 100%;
    --side-bar-width: 0rem;
    --tool-bar-width: 0rem;
    --music-bar-height: 3rem;
    --music-bar-width: 100%;
    --music-bar-top: var(--header-bar-height);
    --pt-main: calc(var(--header-bar-height) + var(--music-bar-height));
  }
}
@media (orientation: landscape) {
  :root {
    --header-bar-height: 4.5rem;
    --footer-bar-height: 0rem;
    --centered-width: 86rem;
    --side-bar-width: 5.5rem;
    --tool-bar-width: 24rem;
    --music-bar-height: 12rem;
    --music-bar-width: calc(var(--tool-bar-width) - 2rem);
    --music-bar-top: calc(var(--header-bar-height) + 2rem);
    --pt-main: var(--header-bar-height);
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  :root {
    --centered-width: 75rem;
  }
}

:root {
  --border-color: rgba(127, 127, 127, 0.2);
}
:root {
  --theme-color: rgb(0, 186, 242);
  --theme-color-translucent: transparent;
  --theme-color-rgb: 0, 186, 242;
  --bg-card: rgba(255, 255, 255, 0.3); //卡片
  --bg-best-card: rgba(244, 245, 247, 1); //卡片
  --bg-panel: rgba(255, 255, 255, 0.6); //面板
  --bg-mask: rgba(221, 225, 233, 0.5); //遮罩层
  --bg-side-bar: #2d3d65; //侧边栏
  --bg-head-bar: rgba(255, 255, 255, 0.7); //顶栏
  --bg-gray: rgba(231, 231, 231, 0.5); //灰色背景
  --text-1: rgba(15, 16, 46, 1); //强调/正文标题
  --text-2: rgba(15, 16, 46, 0.6); //次强调/正文标
  --text-3: rgba(15, 16, 46, 0.4); //次要信息
  --text-4: rgba(15, 16, 46, 0.2); //置灰信息
  --text-5: rgba(15, 16, 46, 0.05); //骨架
  --bg-opaque: #ffffff;
  --bg-level-1: #f2f3f5;
  --bg-best: rgb(255, 255, 255);
}
*.dark {
  --theme-color: rgb(0, 186, 242);
  --theme-color-translucent: transparent;
  --theme-color-rgb: 0, 186, 242;
  --bg-card: rgba(50, 51, 69, 0.3); //卡片
  --bg-best-card: rgba(32, 33, 58, 1); //卡片
  --bg-panel: rgba(15, 16, 46, 0.6); //面板
  --bg-mask: rgba(1, 8, 24, 0.5); //遮罩层
  --bg-side-bar: #121f3c; //侧边栏
  --bg-head-bar: rgba(18, 18, 46, 0.7); //顶栏
  --bg-gray: rgba(31, 32, 57, 0.5); //灰色背景0+
  --text-1: rgba(255, 255, 255, 1); //强调/正文标题
  --text-2: rgba(255, 255, 255, 0.6); //次强调/正文标
  --text-3: rgba(255, 255, 255, 0.4); //次要信息
  --text-4: rgba(255, 255, 255, 0.2); //置灰信息
  --text-5: rgba(255, 255, 255, 0.05); //骨架
  --bg-opaque: #12122e;
  --bg-level-1: #050524;
  --bg-best: rgb(40, 40, 68);
}

//背景色
:root {
  background: var(--bg-opaque);
  color: var(--text-1);
}
@media (max-width: 600px) and (orientation: portrait) {
  :root {
    --bg-opaque: #ffffff;
  }
  *.dark {
    --bg-opaque: #050524;
  }
}

// 滚动条

@media (pointer: fine) {
  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 1rem; /* 设置滚动条的宽度 */
    height: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c9d1db; /* 设置滑块的颜色 */
    border-radius: 0px; /* 设置滑块的边角半径 */
  }

  *.dark ::-webkit-scrollbar-thumb {
    background-color: #344155; /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color); /* 设置滑块的颜色 */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* 设置滚动条的背景颜色 */
  }
}

.container {
  max-width: var(--centered-width);
  margin: 0 auto;
}