.zy-album-card {
  --card-height: 16rem;
  height: var(--card-height);
  position: relative;
  transition: all cubic-bezier(0.63, 0, 0.32, 1) 400ms;
  .zy-album-card-inner {
    width: 100%;
    height: var(--card-height);
    position: relative;
    transition: all cubic-bezier(0.63, 0, 0.32, 1) 400ms;
    .zy-card-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      padding: 2rem;
      background-color: var(--bg-mask);
      backdrop-filter: blur(30px);
      border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    .zy-card-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-base);
      overflow: hidden;
      * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@media (orientation: portrait) {
  .zy-album-card {
    --card-height: 10rem;
    .zy-album-card-inner {
      .zy-card-title {
        padding: 1.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
      }
      .zy-card-image {
        border-radius: 0.5rem;
        * {
          transform: scale(1);
        }
      }
    }
  }
}
.zy-album-card.transition-prepare {
  .zy-album-card-inner {
    .zy-card-title {
      padding: 3rem 2rem;
    }
  }
}

.zy-album-card.transition-in {
  --card-height: 8rem;
  width: 100%;
  margin-top: calc(var(--pt-main) + 2rem);
  padding: 0 2rem;

  .zy-album-card-inner {
    position: relative;
    height: var(--card-height);
    .zy-card-title {
      height: var(--card-height);
      border-radius: var(--border-radius-base);
    }
    .zy-card-title {
      padding: 3rem 2rem;
    }
  }
}
@media (orientation: portrait) {
  .zy-album-card.transition-prepare {
    .zy-album-card-inner {
      .zy-card-title {
        padding: 1.5rem;
      }
    }
  }

  .zy-album-card.transition-in {
    --card-height: 4rem;
    padding: 0 1rem;

    .zy-album-card-inner {
      position: relative;
      height: var(--card-height);
      .zy-card-title {
        height: var(--card-height);
        border-radius: 0.5rem;
      }
      .zy-card-title {
        padding: 0 1rem;
      }
    }
  }
}

@media (orientation: landscape) {
  .pc .zy-album-card:hover {
    .zy-card-image * {
      transform: scale(1.05);
    }
    .zy-card-title {
      padding: 3rem 2rem;
    }
  }
  .pc .zy-album-card.transition-in:hover {
    .zy-card-image * {
      transform: scale(1.2);
    }
  }
}
