.zy-album-card {
  // --card-height: 22rem;
  // height: var(--card-height);

  position: relative;
  transition: all cubic-bezier(0.63, 0, 0.32, 1) 400ms;
  .zy-album-card-inner {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 4rem;
    position: relative;
    transition: all cubic-bezier(0.63, 0, 0.32, 1) 400ms;
    .zy-card-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4rem;
      z-index: 1;
      width: 100%;
      padding: 1rem 0;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    .zy-card-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-base);
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      img {
        transform: scale(1.15);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@media (orientation: portrait) {
  .zy-album-card {
    .zy-album-card-inner {
      margin-bottom: 2rem;
      .zy-card-title {
        bottom: -2.5rem;
        padding: 0.5rem 0;
      }
      .zy-card-image {
        border-radius: 0.5rem;
        img {
          transform: scale(1);
        }
      }
    }
  }
}

.zy-album-card.transition-in {
  --card-height: 8rem;
  width: 100%;
  padding-top: calc(var(--pt-main) + 2rem);

  .zy-album-card-inner {
    position: relative;
    height: var(--card-height);
    margin-bottom: 0;
    overflow: hidden;

    .zy-card-title {
      height: var(--card-height);
      bottom: 0rem;
      padding: 3rem 2rem;
      color: white;
      > * {
        transform-origin: left center;
        transform: scale(1.15);
      }
    }
    .zy-card-image {
      --blur: 64px;
      filter: blur(var(--blur)) brightness(0.5);
      margin: calc(0rem - var(--blur));
      width: calc(100% + 2 * var(--blur));
      height: calc(100% + 2 * var(--blur));
    }
  }
}
@media (orientation: portrait) {
  .zy-album-card.transition-in {
    --card-height: 4rem;

    .zy-album-card-inner {
      position: relative;
      height: var(--card-height);
      .zy-card-title {
        height: var(--card-height);
      }
      .zy-card-title {
        padding: 0 1rem;
      }
    }
  }
}

@media (orientation: landscape) {
  .pc .zy-album-card:hover {
    .zy-card-image img {
      transform: scale(1.05);
    }
  }
  .pc .zy-album-card.transition-in:hover {
    .zy-card-image img {
      transform: scale(1.15);
    }
  }
}
