header {
  transition: transform 400ms, background 0ms;
}
header.transition-translate-out {
  transform: translateY(
    calc(0rem - var(--header-bar-height) - var(--music-bar-height))
  );
}
header {
  .header-title {
    animation: an-fade-in 400ms;
  }
}
